build
lib
obj
*.o
*.a
*.pyc
results
log
dreamplace/version.py
dist
dreamplace.egg-info
install
*.so
.DS_Store
.vscode/*
aes_cipher_top
ASAP7
openRoad_eval_script
ICCAD25_PorbC.zip
ICCAD25_PorbC_ENV
thirdparty